{{>nav}}
<h1>Hello {{username}}</h1>

<a href="/profile/{{_id}}/edit">edit profile</a>

{{firstName}}
{{lastName}}
{{gender}}
{{dob}}
{{starSign}}
{{lookingFor}}
{{hobbies}}
{{occupation}}


<a href="/profile/find">see other users</a>
<a href="/event/find">see events</a>